.button {
  cursor: pointer;
  width: 175px;
  min-width: 175px;
  height: 42px;
  border-radius: 25px;
  text-decoration: none;
  display: flex;
  // text-align: center;
  justify-content: center;
  align-items: center;
  font-size: $text-mobile-font;
  line-height: $text-mobile-line;

  @media (min-width: $width-desktop) {
    width: 200px;
  }
}

.button:hover,
.button:focus,
.button:active {
  box-shadow: 0px 0px 30px $main-action-color;
}

.button--ghost {
  border: 2px solid $main-action-color;
  color: $main-action-color;
}

.button--ghost:active {
  background-color: $main-action-color;
  color: $main-theme-color;
}

.button--action {
  border: 2px solid $main-action-color;
  background-color: $main-action-color;
  color: $main-theme-color;
}

.button--action:active {
  background-color: $main-theme-color;
  color: $main-action-color;
}

.button--center-mobile {
  margin: $padding-mobile auto;

  @media (min-width: $width-tablet) {
    margin-left: 0;
  }
}

.button--center {
  margin:0 auto;
}