.promo {
  padding: $padding-mobile;
  position: relative;

  @media (min-width: $width-mobile ) {
    background-image: url(../img/top-can-mobile@1x.png);

    @media (min-resolution: $retina-2-dppx), (min-resolution: $retina-2-dpi) {
      background-image: url(../img/top-can-mobile@2x.png);
    }
  
    @media (min-resolution: $retina-3-dppx), (min-resolution: $retina-3-dpi) {
      background-image: url(../img/top-can-mobile@3x.png);
    }
  }
  
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $width-tablet) {
    background-position: 100% -30px;
  }

  @media (min-width: $width-desktop) {
    background-position: 90% -100px;
    background-image: url(../img/top-can-desktop@1x.png);

    @media (min-resolution: $retina-2-dppx), (min-resolution: $retina-2-dpi) {
      background-image: url(../img/top-can-desktop@2x.png);
    }
  
    @media (min-resolution: $retina-3-dppx), (min-resolution: $retina-3-dpi) {
      background-image: url(../img/top-can-desktop@3x.png);
    }
  }
}

.promo__wrapper {
  margin-bottom: 200px;

  @media (min-width: $width-tablet) {
    display: flex;
    margin-bottom: 150px;
    max-width: $width-tablet-container;
    margin: 0 auto;
  }

  @media (min-width: $width-tablet-album) {
    max-width: $width-tablet-album-container;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop-container;
  }

}

.promo__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 575px;
  
  @media (min-width: $width-tablet) {
    max-width: $width-tablet-container;
    align-items: flex-start;
    margin-left: 0;
    min-height: 525px;
  }
  
  @media (min-width: $width-tablet-album) {
    max-width: $width-tablet-album-container;
    min-height: 575px;
  }
  
  @media (min-width: $width-desktop) {
    max-width: $width-desktop-container;
    min-height: 575px;
  }
}

.promo__article * {
  z-index: 2;
}

.promo__content {
  text-align: center;
  
  @media (min-width: $width-tablet) {
    text-align: left;
    max-width: $width-mobile-container;
  }
  
  @media (min-width: $width-tablet-album) {
    text-align: left;
    max-width: $width-mobile-album-container;
  }
}

.promo__img {
  height: 475px;
}