.wedo {
  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  counter-reset: sales;
  
  @media (min-width: $width-mobile-album) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.wedo__item {
  text-align: center;
  width: $width-mobile-container;
  height: $width-mobile-container;
  margin-bottom: $padding-mobile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/wedo-1@1x.png);
  background-size: contain !important;
  background-repeat: no-repeat !important;

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-1@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-1@2x.png);
  }
  
  @media (min-width: $width-mobile-album) {
    flex-basis: 43%;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
  
  @media (min-width: $width-tablet) {
    flex-basis: 44%;
  }
  
  @media (min-width: $width-tablet-album) {
    flex-basis: 29%;
  }
  
  @media (min-width: $width-desktop) {
    height: 340px;
    flex-basis: 310px;
    margin-bottom: 30px;
  }
}

.wedo__item--2 {
  background: url(../img/wedo-2@1x.png);

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-2@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-2@2x.png);
  }
  // background-size: contain;
}

.wedo__item--3 {
  background: url(../img/wedo-3@1x.png);

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-3@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-3@2x.png);
  }
}

.wedo__item--4 {
  background: url(../img/wedo-4@1x.png);

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-4@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-4@2x.png);
  }
  // background-size: contain;
}

.wedo__item--5 {
  background: url(../img/wedo-5@1x.png);

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-5@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-5@2x.png);
  }
  // background-size: contain;
}

.wedo__item--6 {
  background: url(../img/wedo-6@1x.png);

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background: url(../img/wedo-6@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: url(../img/wedo-6@2x.png);
  }
  // background-size: contain;
}