.content {
  max-width: $width-mobile-container;
  margin: 0 auto;

  @media (min-width: $width-mobile-album) {
    max-width: $width-mobile-album-container;
    
  }

  @media (min-width: $width-tablet) {
    max-width: $width-tablet-container;
    
  }

  @media (min-width: $width-tablet-album) {
    max-width: $width-tablet-album-container;
    
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop-container;
    
  }
}

.content--wide {
  margin: 0;
  max-width: none;

  @media (min-width: $width-mobile-album) {
    max-width: none;
    
  }

  @media (min-width: $width-tablet) {
    max-width: none;
    
  }

  @media (min-width: $width-tablet-album) {
    max-width: none;
    
  }

  @media (min-width: $width-desktop) {
    max-width: none;
    
  }
}

.content__article {
  margin-bottom: $padding-desktop;
}

.content__article--advantages {
  background-image: url('/img/advs-bg@1x.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;

  @media (min-width: $width-tablet) {
    padding-top: $padding-desktop;

  }
}