.content {
  max-width: $width-mobile-container;
  margin: 0 auto;

  @media (min-width: $width-mobile-album) {
    max-width: $width-mobile-album-container;
    
  }

  @media (min-width: $width-tablet) {
    max-width: $width-tablet-container;
    
  }

  @media (min-width: $width-tablet-album) {
    max-width: $width-tablet-album-container;
    
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop-container;
    
  }
}

.content--wide {
  margin: 0;
  max-width: none;

  @media (min-width: $width-mobile-album) {
    max-width: none;
    
  }

  @media (min-width: $width-tablet) {
    max-width: none;
    
  }

  @media (min-width: $width-tablet-album) {
    max-width: none;
    
  }

  @media (min-width: $width-desktop) {
    max-width: none;
    
  }
}

.content__article {
  margin-bottom: $padding-desktop;
}

.content__article--advantages,
.content__article--coop {
  background-image: url(../img/advs-bg@1x.jpg);
  
  @media (min-resolution: $retina-2-dppx), (min-resolution: $retina-2-dpi) {
    background-image: url(../img/advs-bg@2x.jpg);
  }

  @media (min-resolution: $retina-3-dppx), (min-resolution: $retina-3-dpi) {
    background-image: url(../img/advs-bg@2x.jpg);
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  margin-bottom: 0;
}

.content__article--coop {
  // background-image: url(../img/coop-bg@1x.jpg);
  // background: #0B0B21 0% 0% no-repeat padding-box, url('../img/coop-bg@1x.jpg');
  background-image: url(../img/coop-bg@1x.jpg);
  
  @media (min-resolution: $retina-2-dppx), (min-resolution: $retina-2-dpi) {
    background-image: url(../img/coop-bg@2x.jpg);
  }

  @media (min-resolution: $retina-3-dppx), (min-resolution: $retina-3-dpi) {
    background-image: url(../img/coop-bg@2x.jpg);
  }
}

.content__article--sales {
  // background-image: url(../img/coop-bg@1x.jpg);
  // background: #0B0B21 0% 0% no-repeat padding-box, url('../img/coop-bg@1x.jpg');
  background-image: url(../img/splash@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  
  @media (min-resolution: $retina-2-dppx), (min-resolution: $retina-2-dpi) {
    background-image: url(../img/splash@2x.png);
  }

  @media (min-resolution: $retina-3-dppx), (min-resolution: $retina-3-dpi) {
    background-image: url(../img/splash@2x.png);
  }
}