.form {
  display: none;
}

.form--promo {
  max-width: 49%;
  z-index: 2;
  margin: 0 auto;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  background-color: $text-grey;
  opacity: 0.9;
  width: $width-mobile-container;
  border-radius: 25px;
  padding: $padding-mobile
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-mobile;
}