.form {
  // display: none;
}

.form--fixed {
  width: auto;
  z-index: 20;
  position: fixed;
  transform: scale(0.8);
  left: calc(50% - 166px);
  top: calc(50% - 220px);

  @media (min-width: $width-tablet-album) {
    transform: none;
    left: calc(50% - 161px);
    top: calc(50% - 230px);
  }
}

.form__fieldset {
  margin: 0 auto;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-theme-color2;
  border: 1px solid $form-element-color;
  width: $width-mobile-container;
  padding: $padding-mobile;
  box-shadow: 0 0 30px #fbe600;

  @media (min-width: $width-tablet) {
    padding: $padding-tablet;
    // opacity: 0.95;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-mobile;
}

.form__input {
  font-size: $text-mobile-font;
  line-height: $text-mobile-line;
  padding: $padding-mobile;
  background-color: $main-color;
  color: $form-element-color;
  border: 1px solid $form-element-color;
  margin-top: 5px;
  margin-bottom: $padding-mobile;

  @media (min-width: $width-tablet) {
    font-size: $text-tablet-font;
    line-height: $text-tablet-line;
  }

  @media (min-width: $width-tablet-album) {
    font-size: $text-desktop-font;
    line-height: $text-desktop-line;
  }
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__input:focus {
  color: $main-action-color;
  border: 1px solid $main-action-color;
  box-shadow: 0px 0px 10px 2px $main-action-color;;

}